.chat-container {
  width: 100%;
  height: 100%;
  .scroll-content {
    height: calc(100vh - 130px);
    overflow: auto;
    .msg {
      &-container {
        width: 100%;
        margin-bottom: 0.2rem;
        &-left {
          text-align: left;
        }
        &-right {
          text-align: right;
        }
      }
      &-header {
        margin-bottom: 0;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
      &-content {
        display: inline-block;
        background-color: white;
        border-radius: 0.4rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        width: auto;
        word-break: break-all;
        box-shadow: 1px silver;
        text-align: left;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
          rgba(0, 0, 0, 0.24) 0px 1px 2px;
      }
      &-user-name {
        display: inline-block;
        width: 100%;
        font-size: 14px;
        font-weight: bold;
      }
      &-text {
        font-size: 14px;
      }
    }
  }
  .message-bar {
    position: fixed;
    bottom: 0;
    margin-bottom: 22px;
  }
}
.scroll-content::-webkit-scrollbar {
  display: none;
}

.rotate-45 {
  transform: rotate(45deg);
}
